@model TextField
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}
@if (User.Identity.IsAuthenticated)
{
    <div>
        @Html.Raw(Model.Text)
    </div>
}
else
{
    <h2>Для роботи з сайтом потрібно бути <a asp-area="" asp-controller="Account" asp-action="Login">авторизованим</a></h2>
}
